<%
var logo = null;
var menu = {
  "Gratis Games": "/",
  "Betaalde Games": "/betaalt.html",
  "Games": {
    "index": "/",
    "Gratis": "/",
    "Betaald": "/betaalt.html"
  }
}

var first = true;
function menuItem(cntnt, lable, separator){
  if(typeof cntnt == "string"){ _%>
    <li>
      <%_ if(typeof separator == "string" && separator.length > 0){ _%>
        <span class="menuSeparator"><%= separator %></span>
      <% } _%>
      <span class="menuLable"><a href="<%= cntnt %>"><%= lable %></a></span>
    </li>
<%_ }else{ _%>
    <li data-hassub="true">
      <%_ if(typeof separator == "string" && separator.length > 0){ _%>
        <span class="menuSeparator"><%= separator %></span>
      <% } _%>
      <span class="menuLable sub">
        <% if(typeof cntnt.index !== 'undefined'){ %>
          <a href="<%= cntnt.index %>"><%= lable %></a>
        <% }else{ %>
          <%= lable %>
        <% } %>
        <img class="menuDropIcon" src='/assets/menuArrow.svg' alt="&or;" />
      </span>
      <ul class="submenu">
      <%_ for(subLable in cntnt){ _%>
        <% if(subLable != 'index'){ %>
          <%= menuItem(cntnt[subLable], subLable, '') _%>
        <% } %>
      <% } _%>
      </ul>
    </li>
<%_ }
}

_%>
<header>
<%_ if(logo !== null){ _%>
  <img id="headerLogo" class="logo" src="<%= logo %>" />
<%_ } _%>
  <nav>
    <ul id="menu">
<%_
var sep = '';
for(item in menu){ _%>
<%= menuItem(menu[item], item, sep) %>
<%_ sep = '|' } _%>
    </ul>
  </nav>
</header>